*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Convergence, "Open Sans", "Fira Sans", "Segoe UI", Calibri,
        Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 80px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
}
