*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Convergence, "Open Sans", "Fira Sans", "Segoe UI", Calibri,
        Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: auto;
    text-align: center;
}

h1 {
    padding-top: 80px;
    padding-bottom: 50px;
}

code {
    font-family: "JetBrains Mono", "Fira Code", "Fira Mono", Consolas,
        "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
    background-color: rgba(127, 127, 127, 0.3);
    border-radius: 3px;
    padding: 1px 4px;
    padding-bottom: 2px;
}

.header {
    width: 100%;
}

#page {
    padding-bottom: 75px;
}

.callout {
    color: #000000d0;
    background-color: #00000010;
    border: 2px solid #0000003a;
    padding: 20px 15px;
    margin: 20px 0;
    border-left-width: 7px;
    border-radius: 8px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }
}

.info {
    background-color: #00008810;
    border-color: #0000883a;

    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        font-size: 0.5em;
        vertical-align: middle;
        padding: 1px;
        padding-right: 8px;
        content: "(INFO)";
        background-image: url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
    }
}
